body {
  background:image-url('mobile/bg_mobile_big.jpg');

}
#preindex_mobile320{
width:320px;
height:480px; 
margin :0 auto;
background:image-url('mobile/preindex_untable.jpg');
}

#brava_link{
height:171px; 
width:290px;
position:relative;
top:2px;
left:14px;
}
#fb_link{
height:167px; 
width:290px;
position:relative;
top:8px;
left:14px;
}

#index_link{
height:25px; 
width:196px;
position:relative;
top:447px;
left:62px;
}
#wrapper_mobile320{
width:100%; margin :0 auto;
overflow:hidden; padding:0;
}



.block{float: left; margin: 5px auto;}


.regresar-icon{ text-decoration:none; color:#333; margin:4px; background:#fff; padding:3px; -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;}

caption{text-align:center;}
ul, li{list-style: none;}
#mobile_header{ width:100%; float:left;}
#social_btns ul{float:right; margin:0; padding: 0;}
#social_btns li{float:left; }
.title_soc{font-size: 10px; text-align: right; margin: 35px 0 13px 0; color:#01437F; line-height: 0;}
.soc_facebook{width:30px; height:30px; float:left; background: image-url('mobile/btn-soc-facebook.jpg') no-repeat; margin-left:5px;}
.soc_twitter{width:30px;height:30px;float:left;background: image-url('mobile/btn-soc-twitter.jpg') no-repeat;  margin-left:5px;}
.soc_youtube{width:60px;height:30px;float:left;background: image-url('mobile/btn-soc-youtube.png') no-repeat;  margin-left:5px;}
.soc_pinterest{width:30px;height:30px;float:left;background: image-url('mobile/btn-soc-pinterest-new.png') no-repeat;  margin-left:5px;}
.soc_telefono{width:30px;height:30px;float:left; background: image-url('mobile/btn-soc-telefono.png') no-repeat;  margin-left:5px;}
.soc_instagram{width:30px;height:30px;float:left;background: image-url('mobile/btn-soc-instagram.png') no-repeat;  margin-left:5px;}


.header-logo{margin: 0 auto;}

#logo_mobile{width:320px; height:170px; background: image-url('mobile/logo_mobile320.png') no-repeat; float:left; display:block; }

#logo_mobile a{width:320px; height:170px; display:block; }

#main_mobile320{width:288px; float:left; height:301px; background: image-url('mobile/main_mobile320.png') no-repeat;}

.preparar_hoy320{width:120px;  height:120px; float:left; margin: 10px 0 0 90px; }
.academia_320{width:120px;  height:120px; float:left; margin: 15px 0 0 15px; }
.consentidas_320{width:120px;  height:120px; float:left; margin: 15px 0 0 15px;}

.bordes{border-bottom: 1px solid #d3d3d3; border-top: 1px solid #d3d3d3; padding: 10px 0 10px 0; text-align:center;}


.suscribir_320{width:288px;  height:95px; margin: 0 auto; background: image-url('mobile/suscribe_mobile320.png') no-repeat;}
.suscribir_320 a{width:180px;  height:95px; display: block;  margin-left:30px;}


.footer_320{width:288px;  height:78px; margin: 0 auto; background: image-url('mobile/familia_mobile320.png') no-repeat;}

.linkmarca{width:220px; float:left; height:78px; margin:10px; display:block}


.ui-loader span{display: none;}
/*


#preparar_hoy{ margin:0 auto;  width:300px; height:285px; overflow:hidden;  background: image-url('mobile/preparar_hoy2.png') no-repeat; }

#preparar_hoy a{float:left; width:300px; height:285px;display: block;}


#academia{width:306px; height:288px; background: image-url('mobile/academia_mobile2.png') no-repeat; overflow:hidden; margin: 0 auto;}

#academia a{ width:300px; height:285px; display: block; }


#consentidas{width:309px; height:284px; background: image-url('mobile/consentidas_mobile2.png') no-repeat; overflow:hidden; margin: 10px auto;}

#consentidas a{float:left; width:300px; height:285px;display: block; }

*/
$bree: bree, Helvetica, Arial, sans-serif;
$frutiger: myriad-pro, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;

section#mobile-home{
    nav{
      .menu-icon{
        margin-bottom:20px;
        margin-right:10px
      }
    }
  }
  
.imagen{
          width: 50px;
          display:inline-block;
          vertical-align:middle;
          img{
            max-width:250px;
            max-height:250px;
            padding-bottom:20px;
          }      
    }

section#opciones-mobile{
  .mobile-lista{
    ul{
      list-style:none;
      margin:0 auto;
      padding:10px;
      margin-left:-10px;
      li{
        margin-bottom:10px;
        position:relative;
        padding:5px;
        border-radius:17px;
        background-color:#fff;
        width:100%;
        height:auto;
        a{
          text-decoration:none!important;
          margin:0;
          padding:0;       
        }
        .imagen{
          width: 50px;
          display:inline-block;
          vertical-align:middle;
          img{
            max-width:50px;
            max-height:50px;
            padding-bottom:20px;
          }      
        }
        .descripcion{
          width:80%;
          display:inline-block;
        }
        .titulo{
          h1{
            display:block !important;
            color:#064480;
            font-size:14px;
            font-weight:bold;
          } 
        }
        .tiempo{
          h2{
            font-size:13px;
            color: #707070
          }        
        }
        .porciones{
          h2{
            font-size:13px;
            color: #707070;
          }
        }
        .platillos{
          position:absolute;
          right:10px;
          bottom:5px  ;
          h2{
            font-size:13px;
            color: #707070
          }
        }
      }    
    }
  }
  .mobile-view{
    display:none;
  }
}
section#receta{
  .contenidos-show{
    padding:5px;
    background-color:#fff;
    border-radius:10px;
    margin-top:5px;
  }
  nav.top{
    ul{
      display: block;
      text-align: center;
      margin: 0;
      padding: 0;
      list-style: none;
      margin-top:10px;
      li{
        display: inline;
        margin-left:4px;
        border-radius:10px;
        background-color:#8e9295;
        padding:2px 4px;
        a{
          text-decoration:none!important;
          color:#fff;
          font-size:11px;
          text-align:center;
          padding:0!important;
          font-family:$frutiger;
          font-weight:100!important;
        }
      }
    }
  }
  .titulo{
    margin-top:16px;
    border-bottom:1px solid #b3b3b3;
    width:200px;
    h1{
      display:block !important;
      color:#084480;
      text-align:center;
      padding-bottom:5px;
      font-size:25px;
    }
  }
  .preparacion{
    ul{
      margin: 0 auto;
      li{
        margin-top:15px;
        padding:5px;
      }
    }
  }
  .share-buttons{
    h1{
      color:#084480;
      text-align:center;
      font-size:25px;
      margin-top:10px;
    }
    .share{
      margin-top:20px;  
      margin-bottom:20px;
      .twitter{  
        margin:0 auto;    
        width:90px;   
      }  
      .facebook{   
        width:152px;   
        margin: 0 auto; 
        margin-top:10px;   
      }
      .mail{
        width:57px;
        margin:0 auto;
        margin-top:10px;
      }
    }
  }
  div.imagen, div.ingredientes, div.preparacion, div.share-buttons{
    display: none;
    &.activo{
      display: block;
    }
  }
}
nav{margin-left: 50px;}

h1{color:#ccc; display: none;}

