<h3>Contacto</h3>

<p>Para dudas respecto a recetas, por favor consulte la sección Recetas.</p>

<p>Para preguntas y comentarios por favor comuníquese al teléfono
01800-715-2020 de lunes a viernes de 9:00 a 18:00 hrs. o escríbanos a
<a href="mailto:kraftcontigo@kraft.com">kraftcontigo@kraft.com</a>
donde con gusto le atenderemos.</p>
