<h3>Aviso Legal</h3>
<ol>
<li>Kraft es una empresa comprometida con sus consumidores por lo que su opinión   es muy importante para nosotros, por esta razón ponemos su disposición nuestra   línea Kraft Contigo (01-800-715-20-20) a través de la cual los consumidores   podrán solicitar información, aclarar dudas, hacer comentarios y sugerencias con   relación a nuestros productos. El consumidor acepta que la información que sea   enviada, ingresada o proporcionada por ellos a través de nuestra página de   internet, podrá ser utilizada o compartida por Kraft Foods de México S. de R.L.   de C.V., para fines de mejorar la relación con sus consumidores, así como la   calidad de sus productos, de igual forma el consumidor acepta que dicha   información podrá ser utilizada entre otras para actividades estadísticas,   comerciales y promocionales aceptando que podrá recibir información comercial.
</li>
<li>Kraft en un esfuerzo por brindar la mejor atención posible a sus   consumidores dirige la información contenida en esta pagina exclusivamente a los   consumidores dentro del territorio Mexicano por lo que todos los contenidos de   esta pagina incluyendo sin limitar los relacionados con promociones, productos y   servicios así como las características de estos, solo serán aplicables dentro   del territorio de la Republica Mexicana y se regirán por las leyes,   disposiciones y autoridades de este país.
</li>
</ol>
