%h3 Bases de la promoción

%p La Promoción “Philadelphia® te lleva al cine” se regirá por las bases, términos y condiciones presentes, los cuales deberán ser leídos, aceptados y cumplidos en su totalidad por parte de los participantes.

%h4Responsable de la actividad de Promoción y Organizadora

%p Promomovie, S.A de C.V. (La Organizadora)
%p Av Vasco de Quiroga 3900, torre A, Piso 10b,
%p Col Lomas de Santa Fe, Delegación Cuajimalpa
%p CP 05300, México, D.F.
%p RFC PRO121110IY2

%h4 Vigencia

%p El periodo de participación inicia a las 00:00:01 horas del día 5 de Abril de 2013 y termina a las 23:59:59 horas del día 13 de Junio de 2013.

%h4Productos a promocionar

%p Barra de queso crema Philadelphia Original 190 g

%h4 Incentivos que se ofrecen 

%p En la compra de un boleto de cine en cualquier Cinemex, MM Cinemas y Lumiere de la República Mexicana, en funciones entre el 5 de Abril y el 13 de Junio de 2013, de Lunes a Jueves, el participante que cumpla con la mecánica que se describe más adelante, se lleva sin costo otro boleto igual.

%p Cantidad:

%p 2,323,684 (dos millones trescientos veintitrés mil seiscientos ochenta y cuatro) cupones efectivos de Lunes a Jueves 2x1, al juntar 2 de las 4,647,368 cajas del producto de la marca Philadelphia® marcadas con el cupón Promocine.

%p Restricciones: 

%p Válido únicamente entregando en taquilla dos cupones PromoCine, ubicados de los productos Philadelphia® participantes marcados con el cupón PromoCine. Válido para obtener un boleto 2x1 de Lunes a Jueves. Limitado a un canje máximo de un cupón por persona.

%p Cupón válido para una persona, No aplica en eventos especiales, premieres, sala 3D, Platino, Premium, IMAX, CinemeXtremo y 4XDMotion. Prohibida su venta. Este no será válido si presenta tachaduras, raspaduras o enmendaduras. No acumulable con otras promociones. No canjeable por dinero. No negociable. Sujeto a disponibilidad de las salas. No válido en copias o facsímiles. No válido en preventa ni reservaciones. 

%p Válido únicamente en CINEMEX, MM CINEMAS, LUMIERE.

%p Solo participan tiendas de Detalle 

%h4 Garantías sobre los incentivos

%p Los incentivos ofrecidos son gratuitos y serán entregados a los participantes, conforme a la mecánica que se describe más adelante.

%p La negativa del participante de hacer válido el incentivo libera a la Organizadora de cualquier responsabilidad y le permite hacer con el incentivo lo que mejor convenga a los intereses de la promoción.

%h4 Mecánica de participación en la promoción

%p Compra dos productos Philadelphia® Barra Original de 190 grs. marcados con el autoadherible Promocine, desarma los empaques de cartón, preséntalos en taquilla de cualquier Cinemex, MMCinemas y Lumiere del país, del 5 de Abril de 2013 al 13 de Junio de 2013, de Lunes a Jueves, y en la compra de un boleto de cine, te llevas sin costo otro boleto igual.

%h4 Motivos de anulación para la participación y/o la obtención del incentivo

%p Los usuarios participantes no respeten y/o acepten los términos y condiciones de la Promoción (Bases).

%p Cualquier incumplimiento a los requisitos o incurrir en cualquiera de las restricciones.

%p En caso de haber resultado acreedor a algún incentivo violentando las bases y condiciones de participación, el participante deberá restituir el mismo a la Organizadora y responderá contra daños y perjuicios.

%h4 Entrega de incentivo

%p Los participantes deberán asistir directamente a los establecimientos antes indicados, para hacer efectivos sus incentivos, del 5 de Abril al 13 de Junio de 2013.

%h4 Restricciones

%p Sólo participan mayores de 18 años con legal residencia dentro de la República Mexicana.

%p No existe restricción al consumidor participante en la compra de los productos participantes, salvo las establecidas en las presentes bases.

%p Los incentivos ofrecidos no podrán ser canjeados bajo ningún motivo por cantidad en efectivo.

%p El derecho a reclamar el incentivo no podrá ser transferido a título oneroso o gratuito por ningún motivo.

%p Sólo se asignará un incentivo por participación, esto es, no se podrá asignar más de un incentivo por nombre registrado de participante.

%p En caso de imposibilidad de ejecutar el canje del incentivo por cualquier motivo, no aplica compensación o remuneración alguna.

%p La participación en esta Promoción y la obtención de los incentivos, no tendrá costo alguno o requisito adicional por cumplir por parte del participante. 

%p La Organizadora no es responsable de ninguna alteración en el estado de salud del participante a consecuencia de hacer efectivo el incentivo ofrecido.

%h4 Medios de difusión

%p Las bases de la presente actividad se difundirán a través de los siguientes medios:

%p Página de Internet www.philadelphia.com.mx 