<script type="text/javascript">
function notifywhat(){
 $('#notifywhat').fadeIn('200');
}
function hidewhat(){
$('#notifywhat').fadeOut('200');

}
</script>
<link href="http://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet" type="text/css">
<header class="block">
			<div class="col_header_1">
				<div id="btnsuscribe"><a href="/#nosotrasyphiladelphia"></a></div>
			</div>
			<div class="col_header_2">
				<div id="logoheader">
				<a class="logolink" href="/#home"></a>
				</div>
			</div>
			<div class="col_header_3" id="social_btns">
			<p class="title_soc">Sé parte de las redes Philadelphia®</p>
				<ul>
					<li><a class="soc_facebook" target="_blank" href="http://www.facebook.com/philadelphiamx"></a></li>
					<li><a class="soc_twitter" target="_blank" href="http://twitter.com/philadelphiamx"></a></li>
					<li><a class="soc_youtube" target="_blank" href="http://www.youtube.com/user/philadelphiamexico"></a></li>
          <li><a class="soc_pinterest" target="_blank" href="https://pinterest.com/philadelphiamx/"></a></li>
					<li><a class="soc_telefono" target="_blank" title="WhatsApp" onclick="notifywhat();"></a></li>
					<div id="notifywhat" style="display:none; width:250px; height:120px; margin-left:-45px; z-index:1000; position:absolute;"><img src="http://philadelphia.com.mx/yazwhatsappmsg-bg.png" onclick="hidewhat();"/></div>
					<li><a class="soc_instagram" target="_blank" href="http://instagram.com/philadelphiamx/"></a></li>
				</ul>
				
			</div>
			
<div class="inside">

<nav>
<a class="producto" href="/#marca">Marca</a>
<a class="recetas" href="/recetas">Recetas</a>
<a class="nosotrasyphiladelphia" href="/#nosotrasyphiladelphia">Nosotras y Philadelphia®</a>
<a class="foodservice" href="/#foodservice">Food Service</a>


<a class="basicos" href="/#basicos">Básicos de cocina</a>
<a class="recompensas" href="http://www.consentidas.com.mx/" target="_blank">consentidas</a>
</nav>

</div>
</header>