%section#yaz.panel
  %nav.menuyaz
    %span.flecha
    %ul
      %li.item1
        %a.inlineblock{:href => "#yazinicio"} Historia
      %li.item2
        %a.inlineblock{:href => "#yazfotos"} Tips de Cocina
      %li.item3
        %a.inlineblock{:href => "#yazblog"} Centro de Atención Yaz   
    
  = render 'base/footer'
