<article id="recomendada" style="width:960px;  float:left; margin-top:50px; ">


<div id="wrapperrecomendada">


<div class="recomendadarow" style="margin-left:20px;">
<br />
	<p class="titulorecomendada">Plat&oacute;n Deportivo Philadelphia</p>
	<p class="comun">Tiempo de preparaci&oacute;n: <span class="celeste">30 minutos</span> <br />porciones: <span class="celeste">35</span></p>
	
</div>

<div class="recomendadarow">
	<div class="imagenprincipal"></div>

</div>

<div class="recomendadarow">

<div class="colrecomendada1">

</div>

<div class="colrecomendada2">

</div>
	
</div>


</div>

</article>
