<style type="text/css">
body{background: #E2E2E3}
#wrapperpremios{background:#dadada; width: 779px; margin:0 auto;}
.rowpremios{width: 779px; float:left; margin:0;}
.divcenter{width: 200px; margin :10px auto;}
</style>


<div id="wrapperpremios">

<div class="rowpremios" style="text-align:center;">
<img src="assets/premios/cuponera_Philadelphia_31102013.jpg" alt="cuponera"  />
</div>




<div class="rowpremios">
<div class="divcenter">
<a href="assets/premios/cuponera_31102013.pdf"><img src="assets/premios/boton-premios.jpg" alt="boton-premios" width="193" height="64" /></a>
</div>

</div>


<div class="rowpremios">
<div class="divcenter">
<img src="assets/premios/saludo-premios.jpg"  />
</div>
</div>





</div>